
.home {
   float: center;
   
}

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


#colorBandHome {
   background: #a9e4ff ;
}

body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


#hsmColor {
   color: #c70e0e;
}

#crColor {
  color: #2539a7 ;
}

#dColor {
  color: #1e9f2d;
}



body {
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #a9e4ff;
  color: black;
}

#navbar a.active {
  background-color: #a9e4ff;
  color: white;
}

.content {
  padding: 16px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a9e4ff;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disney-logo {
  height: 50px;
  align-items: center ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.channel-text {
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  font-weight: bold;
  
}
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  justify-slef: end;
  user-select: none;
}


div.scroll-container {
  background-color: #FFFFFF;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.topbar {

display: grid;
grid-template-columns: 1fr auto 1fr;
align-items: center;
background-color: #a9e4ff;
padding: 10px 20px;

}
